body{
    background-image: url("http://m6.22slides.com/blurryst/caroline-kraus-columbus-ohio-winter-photography-1382438.jpg");
    background-color: #cccccc;
    font-size: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 800px;
    margin: 0 auto;
}


p {
    font-size: 0.875em;
    text-align: justify;
    color: #00394d;
    display: none;
  
}


section {
  float: left;
  width: 380px;
  padding: 10px;

}

form {
  color: #fff;
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none; 
  cursor: pointer;
  border:none;
  text-align: center;
  margin: auto;
  display: none;

}

nav {
  position: fixed;
  bottom: 10px;
  /*border: 1px solid;*/
  left: 50%;
  transform: translateX(-50%);

}

nav a {
  color: #f2f2f2;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Helvetica;
  border-right: 1px solid;
  text-align: justify;
}

nav a:hover {
  border-right: none;
}


#drake {
  position: relative;
  left: 100px;
  display: none;

}
